services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm start
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    working_dir: /app
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    command: sh -c "npm ci || npm install && npm start"


volumes:
  node_modules: