.admin-actions {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.admin-actions .admin-status {
    margin-left: 8px;
}

.btn-admin-action-add {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    font-size: 20px;
    border-radius: 50%;
}



/* Status */
.admin-status {
    font-size: 10px;
}
.admin-status-published {
    color: #1b7e1b;
}

.admin-status-hidden {
    color: #d30000;
}
