.header {
    box-shadow: 0 2px 4px 0 rgba(21, 21, 21, 0.08), 0 1px 2px 0 rgba(21, 21, 21, 0.08);
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}
.header__logo {
    width: auto;
    height: 50px;
}
.header__logo-link {}
.header__label {
    font-weight: 600;
    font-size: 18px;
    color: var(--color-white);
}
.header__user {}
.header__user-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}