.card {
    border-radius: var(--bdrs-sm);
    background-color: var(--color-gray);
    padding: 8px;
}
.card .btn {
    min-width: 110px;
}
.card__header {
    border: 1px solid #08f;
    border-radius: var(--bdrs-sm);
    background: rgba(0, 136, 255, 0.25);
    min-height: 40px;
}
.card__header-left {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.05em;
    color: var(--color-black);
}
.card__header-user {
}
.card__header-date {
}
.card__header-right {
}
.card__header-btn {
}
.card__body {
}
.card__body-left {
}
.card__body-item {
    font-size: 11px;
    font-weight: 500;
    color: var(--color-black);
    margin-bottom: 2px;
}
.card__body-item-label {
    color: var(--color-primary);
}
.card__body-item-value {
}
.card__body-right {
}
.card__body-btn {
}
.card__header-left,
.card__body-left {
    padding-left: 8px;
}
.card__header-right,
.card__body-right {
    padding-right: 8px;
}



.card-user {
    position: relative;
}
.card-user .rs-panel-body {
    padding-right: 80px;
}

.card-user .card-user__avatar {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
}
.card-user .card-user__info {
    font-size: 14px;
    color: var(--color-black);
}
.card-user .card-user__info-item {
    display: flex;
    gap: 8px;
    align-items: center;
}
.card-user .card-user__info-item-label {}
.card-user .card-user__info-item-value {
    font-weight: 600;
    max-width: 60%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}