@import url('./0--main.css');
@import url('./1--buttons.css');
@import url('./0--admin.css');

@import url('./block--header.css');
@import url('./block--card.css');

@import url('./page--home.css');
@import url('./page--chat.css');
@import url('./page--error.css');